.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-inline: 30px;
}
