.support__container {
/*	height: 500vh;*/
}

.support__lottie {
	max-width: 500px;
	height: 400vh;
	/*position: sticky;
	top: 0;*/
}

.support__lottie svg {
	position: sticky;
	top: 0;
	height: 100vh !important;
}