/* @font-face {
  font-family: "ShantellSans-Light";
  src: url(./assets/font/ShantellSans-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
} */

body {
  margin: 0;
  font-family:
  "ShantellSans-Light",
  /* "Arial Narrow",  */
  -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.bubble-text {
  font-family: "ShantellSans-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}
